<ul class="tweets">
  <% @tweets.each do |tweet| %>
    <li class="tweet">
      <p><%= tweet.message %></p>
      <time><%= tweet.created_at.strftime('%b %e, %l:%M %p') %></time>
    </li>
  <% end %>
</ul>

<%= render partial: 'form' %>
